<<<<<<< HEAD
p {
	color: yellow;
	background: black;
	font-weight: heavy;
	text-align: left;
	text-shadow: 2px 2px red;
	}
=======
p {
	color: yellow;
	background: black;
	font-weight: heavy;
	text-align: left;
	text-shadow: 2px 2px red;
	}
>>>>>>> 6e57520b6dc84d88d7ebc63bb2185fe65e10bfc6
	